# pixi environments
.pixi/*
!.pixi/config.toml

# Donnees IRM
*.nii
*.nii.gz
*.acqp
data/*
!data/test/
!data/test/**

# Python - fichiers generes automatiquement
__pycache__/
*.pyc
*.egg-info/

# Variables sensibles (mots de passe, chemins locaux)
.env

# Vscode environnement
.vscode/

#github pages
site/

# Exports générés par le bouton Export
exports/
